
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

nav{
    display: flex;
    height: 80px;
    align-items: center;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li{
    padding: 10px 20px 10px 20px;
    background-color: #c1f6ff;
    margin: 0 5px;
    border-radius: 20px;
    transition-duration: 100ms;
}

nav ul li:hover {
    background-color: #a1e9ff;
    scale: 1.03;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}


.flexed-parent{
    align-items: center;
    display: flex;
    justify-content: center;
}


.seperator {
    background-color: #b4b4b4;
    width: 160vh;
    height: 1px;
    border-radius: 5px;
}

.pink-box{
    text-align: center;
    background-color: rgba(236,72,153,.7);
    width: 40%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
}

.time-box {
    text-align: center;
    background-color: rgb(29, 27, 27);
    width: 40%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
}

.box-image {
    border-radius: 20px;
    width: 40%;
    height: 20%;
}

.box-image img {
    width: 60%;
    height: 60%;
    border-radius: 20px;
}

.box-flexed-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-flexed-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-content-white {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
}

/* 
    Change texts according to screen size in box content
*/

@media screen and (max-width: 768px) {
    .box-content {
        font-size: 12px;
    }

    .box-content-white {
        font-size: 12px;
    }
}

.menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.w-6 {
    width: 30px;
    height: 30px;
}

.menu-btn-icon {
  /*
    Fixed, top and right: 2 rem
  */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.75rem;
    background-color: #c1f6ff;
    right: 0.75rem;
    transition: all 0.5s ease; 
    z-index: 100;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.menu-btn-icon:hover {
    background-color: #a1e9ff;
}


.visible {
    opacity: 1 !important;
    pointer-events: all;
}

.modal-content {
    background-color: #fff;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.close-btn {
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: #a1e9ff;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 16px 0 4px 0;
}

.modal-header h2{
    font-size: 36px;
    font-weight: 600;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.grid-4 {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    margin: 20px;
}

.grid-4 > div { 
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
}

/*
    Responsive grid
*/

@media screen and (max-width: 768px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-4 > div {
        font-size: 12px;
        padding: 16px;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}



.box-content h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 8px 0 8px 0;
}

.box-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 8px 0;
}

.grid-2 {
    justify-content: center;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2 > div {
        font-size: 12px;
        padding: 16px;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }
}

.btn {
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: #a1e9ff;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 16px 0 4px 0;
    cursor: pointer;
}

.box-calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
}

.box-calc h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 8px 0 8px 0;
}

.box-calc p {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 8px 0;
}

.box-calc-input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin: 16px 0 4px 0;
}

.box-calc-input:focus {
    outline: none;
    border: 2px solid #a1e9ff;
}

.box-calc-btn {
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: #a1e9ff;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 16px 0 4px 0;
    cursor: pointer;
}

.box-calc-btn:hover {
    background-color: #c1f6ff;
}

.box-calc-output {
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin: 16px 0 4px 0;
}

.box-calc-output:focus {
    outline: none;
    border: 2px solid #a1e9ff;
}

.box-calc-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box-content input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin: 16px 0 4px 0;
}

.box-content input:focus {
    outline: none;
    border: 2px solid #a1e9ff;
}

.box-content-btn {
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: #a1e9ff;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    margin: 16px 0 4px 0;
    cursor: pointer;
}

.box-content-btn:hover {
    background-color: #c1f6ff;
}

@media screen and (max-width: 768px) {
    .box-calc {
        width: 45%;
        height: 40%;
    }
    .box-content {
        font-size: 12px;
    }

    .box-content-white {
        font-size: 12px;
    }
    
}

@media screen and (max-width: 480px) {
    .box-content {
        font-size: 12px;
    }

    .box-content-white {
        font-size: 12px;
    }
}

.toggle-a-m{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-bottom: 16px;
}

.toggle-a-m .toggle-btn {
    padding: 0.25rem 1rem 0.25rem 1rem;
    background-color: #a1e9ff;
    border: none;
    gap: 8px;
    font-size: 18px;
    border-radius: 10px;
    margin: 16px 0 4px 0;
    cursor: pointer;
}

/*
    Table Styles
*/

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 100vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(236,72,153,.5);
}

th, td {
    padding: 8px;
    text-align: left;
    
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #a1e9ff;
    color: black;
}

/* 
    Responsive table
*/

@media screen and (max-width: 768px) {
    table {
        min-width: 40vh;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    table {
        font-size: 12px;
    }
}

